-# ADD PRODUCT

.modal.fade{ class: "add_product-#{index}", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog" }
  .modal-dialog{role: "document"}
    .modal-content.p-0
      .modal-header.p-0.modal-header-details
        .modal-image
          %img{ src:  dish.picture }
        .mask
          .modal-product-title
            %h4= dish.name
            %span $ #{dish.price}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %i.icofont-close.icon_custom.icon--large
      .modal-body
        = simple_form_for @item, url: app_add_item_path(order), method: :post, class: 'mt-4' do
          .d-flex
            .product-detail
              %p Lorem Ipsum es un texto de marcador de posición comúnmente utilizado en las industrias.
            .product-description
              .card-product-detail.modal-body-details
                .card-price
                .card-product-quantity
                  %a.inc.qty-button +
                  %input.input_custom.input_quantity.qty{:inputmode => "numeric", :max => "", :min => "0", :pattern => "[0-9]*", :size => "4", :step => "1", :title => "Qty", :type => "price", :value => "1", name: 'dish[quantity]'}/
                  %a.dec.qty-button -
          .mt-4
            .form-group
              %label.label_custom{for:""} Observaciones
              %textarea.form-control.textarea_custom{ 'data-role'=> "tags-input", name: 'dish[observation]' }
            .form-group
              %input{ type: 'hidden', name: 'dish[order_id]', value: @order.id }
              %input{ type: 'hidden', name: 'dish[dish_id]', value: dish.dish_id }
              %input{ type: 'hidden', name: 'dish[price]', value: dish.price }
            .float-right.mt-2
              %button.btn.btn_custom.btn--medium.btn--filled
                Agregar
