- if notice
  :javascript
    var notice = "#{notice}"
    $(document).ready(function() {
      alertify.set('notifier','position', 'top-right');
      alertify.notify(notice, 'success','top-right');
    })
