.card-wrapper.js-card-wrapper.btn-sidebar{ "data-tab" => "space_one-#{index}-#{section.name}" }
  .card-content.card-table
    %h2= table&.id_consumo&.titleize
    .card-icons
      %i.icofont-dining-table
