.workspace_top
  .workspace_top-container
    .workspace_title.d-lg-block.d-sm-block.d-none
      %h1= title
    .workspace_avatar
      .avatar-content.dropdown
        %a#out.d-flex.align-items-center{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
          .avatar
            = image_tag '/assets/app/profile'
          %strong=current_member.alias
