.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", id: "check" }
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h2.m-0 Esta seguro de eliminar
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %i.icofont-close.icon_custom.icon--large
      .modal-body
        %form
          .form-group
            %label.label_custom Código
            %input.form-control.input_custom{ name: 'codigo' }

          .float-right.mt-2
            %button.btn.btn_custom.btn--medium.btn--filled{ type: 'submit' }
              Guardar