// Orders Stylesheets
= stylesheet_link_tag 'keppler_orders/application', media: 'all', 'data-turbolinks-track': true
// Orders Javascripts
= javascript_include_tag 'keppler_orders/application', 'data-turbolinks-track': true