// Periods Stylesheets
= stylesheet_link_tag 'keppler_periods/application', media: 'all', 'data-turbolinks-track': true
// Periods Javascripts
= javascript_include_tag 'keppler_periods/application', 'data-turbolinks-track': true