// Clients Stylesheets
= stylesheet_link_tag 'keppler_clients/application', media: 'all', 'data-turbolinks-track': true
// Clients Javascripts
= javascript_include_tag 'keppler_clients/application', 'data-turbolinks-track': true