// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$putua: 'Patua One', cursive;
$raleway: 'Raleway', sans-serif;

// Fonts size
$base-font-size: 10px;

// Fonts Weight
@font-face {
  font-family: 'Bebas';
  src: url('../app/Bebas.ttf');

  font-weight: normal;
  font-style: normal;
}

$quicksand: 'Quicksand', sans-serif;
$bebas: 'Bebas', sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$black: #000000;
$white: #ffffff;
$primary: #e2bc97;


// DARK
$dark: #14141a;
$dark-aside: #16161d;
$dark-e:#333333;
$colorlight: #1d1d26;
$dark-cards: #181820;
$gradient: linear-gradient(-40deg, #7d1c24 0%, #a62630 100%);
$primary:#a62630;
$gray: rgba(221, 221, 221, 0.66);



// Shadow
$primary-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
