// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$putua: 'Patua One', cursive;
$raleway: 'Raleway', sans-serif;

// Fonts size
$base-font-size: 10px;

// Fonts Weight
$quicksand: 'Quicksand', sans-serif;
$montserat: 'Montserrat', sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$black: #000000;
$white: #ffffff;
$primary: #e2bc97;


// DARK
$dark: #14141a;
$dark-aside: #16161d;
$dark-e:#333333;
$colorlight: #1d1d26;
$gradient: linear-gradient(-40deg, #7d1c24 0%, #a62630 100%);
$primary:#a62630;



// Shadow
$primary-shadow: rgba(0, 0, 0, .17);
