!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    .login_container
      .login_mask
        .login_box
          .login_logo
            = image_tag '/assets/app/logo_white'
          = form_tag app_create_session_path, class: 'new_user', method: :post do |f|
            .form-group
              -# %label.label_custom{for:""} Código
              %input.form-control.input_custom{ placeholder: 'CÓDIGO', style: 'text-align:center;', name: 'member_code' }
            .login_button.d-flex.justify-content-center
              %button.btn.btn_custom.btn--medium.btn--filled.btn-text-upper.ripple
                Iniciar
          .login_company
            %span.powered_by
              Desarrollado por
              %a{ href: 'https://slicegroup.co' } Slice Group
      = image_tag '/assets/app/guitar', class: 'guitar'
