// Staff Stylesheets
= stylesheet_link_tag 'keppler_staff/application', media: 'all', 'data-turbolinks-track': true
// Staff Javascripts
= javascript_include_tag 'keppler_staff/application', 'data-turbolinks-track': true