html {
  
}
body {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto;
  position: relative;
  
  &.overflow {
    overflow: hidden;
  }
}


a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

button{
  outline: none !important;

  &:hover, &:focus {
    outline: none !important;
  }
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: $dark !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d2d2d2;
}


#preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252525;
  z-index: 9999999999;

  .spinner-border {
    border: .25em solid $primary !important;
    border-right-color: transparent !important;
    width: 5rem !important;
    height: 5rem !important;
  }
}