.btn_custom {
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  line-height: 1.1;
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 14px;
  min-width: 85px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 16px;
  min-width: 105px;
  font-size: 18px;
}

.btn--filled {
  background-color: $primary !important;
  color: $white !important;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: transparent !important;
    border: 1px solid $primary;
    color: $white !important;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: 0.3s ease-in-out;
  }
}

.btn-text-upper {
  text-transform: uppercase;
}


.icon_custom {
  color:$white;
}

.icon--small {
  font-size: 16px;
}
.icon--medium {
  font-size: 18px;
}
.icon--large {
  font-size: 20px;
}