.form-control {
  color: $black !important;
}

.input_custom, .textarea_custom, .select2-selection--single {
  border-radius: 5px;
  box-shadow: none;
  font-size: 1.5rem;
  height: 34px;
  border: 1px solid transparent !important;
  background-color: rgba(221, 221, 221, 0.66) !important;

  &:focus{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 0.2rem transparent !important;
    color: $white !important;
    outline: 0 !important;
    
  }
}

.label_custom {
  color: $white;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

//*** Placeholder **//
.form-control::-webkit-input-placeholder {
  color: $black !important;
  font-weight: 300;
  text-align: center;
}
.form-control::-moz-placeholder {
  color: $black !important;
  font-weight: 300;
  text-align: center;
}
.form-control:-ms-input-placeholder {
  color: $black !important;
  font-weight: 300;
  text-align: center;
}
.form-control:-moz-placeholder {
  color: $black !important;
  font-weight: 300;
  text-align: center;
}