.container-custom{
  display: flex;
  position: relative;
  @include respond-to(sm){
    overflow: hidden;
  }
  @include respond-to(xs){
    overflow: hidden;
  }
}

.workspace {
  // width: 94%;
  width: 94%;
  background-color: $dark;
  min-height: 100vh;
  height: auto;
  margin-left: 6%;

  @include respond-to(md) {
    margin-left: 6%;
  }

  @include respond-to(sm) {
    margin-left: 8%;
  }
  @include respond-to(xs) {
    margin-left: 0%;
    width: 100%;
  }
}


.workspace-left {
  width: 70%;
  padding: 20px 25px 0px 35px;

  @include respond-to(md) {
    width: 65%;
  }
  @include respond-to(sm) {
    width: 100%;
    padding: 20px 40px 0px 35px;
  }
  @include respond-to(xs) {
    width: 100%;
    padding: 20px 15px 0px 35px;
  }
  &.workspace-chef {
    width: 100%;
  }
  &.workspace-left-runner{
    width: 50%;
  }

  &.full-width {
    width: 100%;
    .workspace_top {
      width: 89%;
    }
  }
}

.workspace-right {
  width: 30%;
  
  .right-btn-order {
    padding: 45px 25px;
  }

  &.sidebar {
    transition: 0.3s ease-in-out;
    @include respond-to(sm) {
      position: absolute;
      right: -30%;
      top: 22%;
    }
    @include respond-to(xs) {
      position: absolute;
      right: -30%;
      top: 15%;
    }
  }
  &.workspace-right-runner {
    width: 50%;
    padding: 20px 25px 0px 35px;
  }

  &.sidebar-disabled {
    display: none;
  }
}

.workspace_top-container {
  align-items: center;
  // box-shadow: $primary-shadow;
  display: flex;
  justify-content: space-between;
  // background-color: #16161d;
  border-radius: 5px;
  padding: 20px 0px;

  @include respond-to(xs) {
    padding: 0;
  }
}


.workspace_top {
  // padding: 0px 20px 0 20px;
  // padding-top: 10px;
  position: fixed;
  width: 60%;
  z-index: 2;

  @include respond-to(md) {
    width: 50%;
  }

  @include respond-to(sm) {
    width: 83%;
  }

  @include respond-to(xs) {
    width: 85%;
    padding: 0px;
  }

  &.workspace_top-chef {
    width: 89%;
    @include respond-to(md) {
      width: 85%;
    }
    @include respond-to(sm) {
      width: 83%;
    }
    @include respond-to(xs) {
      width: 85%;
      padding: 0px;
    }
  }

  &.workspace_top-runner {
    width: 42%;
  }

  &.workspace_top-full {
    width: 89%;
  }
}

.workspace_title {
  width: 30%;

  h1 {
    margin: 0px !important;
    color: $white;
    @include font(32px, $bold);
    font-family: $quicksand;

    @include respond-to(xs) {
      @include font(30px, $bold);
      // display: none;
    }
  }
}
.workspace_search {
  width: 40%;
}

.workspace_avatar {
  width: 30%;
  display: flex;
  justify-content: flex-end;

  @include respond-to(xs){
    width: 100%;
  }
}

.avatar-content {
  // width: 150pxs;
  // background-color: $gray !important;
  border-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;

  a {
    color: $white;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    @include font(15px, $normal);
    font-family: $quicksand;
    &:hover, &:focus, &:link {
      color: $white;
      text-decoration: none;
    }
  }

}


.dropdown-menu {
  min-width: 150px !important;
}
.dropdown-item {
  color: $dark !important;
}

.avatar {
  width: 40px;
  padding: 5px;
  img {
    border-radius: 50%;
    width: 70%;
  }
}

.workspace_button {
  margin-right: 15px;
}

.workspace_center {
  // margin-top: 100px;
  margin-top: 94px;
  // padding: 20px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all .6s ease-in-out;

  @include respond-to(xs) {
    margin-top: 60px;
  }

  &:hover {
    overflow-y: auto;
    transition: .6s ease-in-out;
  }

  &.workspace-center-chef {
    max-height: 90%;
    &:hover {
      overflow-y: hidden;
    }
  }

  &.workspace_center-runner {
    margin-top: 40px;
    max-height: 90vh;
  }
}


/* -------------------------
   ----- Card Mesas -----
   ------------------------- */

.back {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  transition: 0.3s ease-in-out;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  a {
    color: $white;
    text-decoration: none;
    font-family: $quicksand;
    @include font(15px, $normal);

    @include respond-to(xs) {
      @include font(15px, $normal);
    }
    &:hover {
      color: $white;
    }
  }

  &:hover {
    background-color: $dark-aside;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    width: 100px;
  }
}

.grid-wrapper{
  margin: 0 auto;
  width:100%;
  &.grid-wrapper-chef {
    // display: flex;
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    // padding-bottom: 8px;
    height: 80vh;

    @include respond-to(md) {
      height: 77vh;
    }

    @include respond-to(sm) {
      height: 75vh;
    }

    @include respond-to(xs) {
      height: 75vh;
    }

  }
  &.grid-wrapper-runner {
    height: 77vh;
  }

}

.card-wrapper{
  float:left;
  margin: 10px 25px 10px 0px;
  cursor: pointer;

  @include respond-to(md){
    margin: 10px 15px 10px 0px;
  }

  @include respond-to(sm){
    margin: 10px 15px 10px 0px;
  }

  @include respond-to(xs){
    margin: 5px 12px 10px 0px;
  }
  


  &.card-wrapper-products {
    margin: 10px 10px 10px 0px;
  }

  &.card-account {
    margin: 10px 0px 10px 0px;
  }
}

.card-content{
  background-color: $dark-cards;
  box-shadow: $primary-shadow;
  border: 1px solid $colorlight;
  border-radius: 5px;
  display: flex;
  padding: 10px 20px;
  position: relative;

  @include respond-to(sm) {
    padding: 10px 15px;
  }

  @include respond-to(xs) {
    padding: 5px 10px;
  }

  &.card-table{
    flex-direction: column;
    align-items: center;
  }

  &.card-counts{
    flex-direction: row;
    align-items: center;
    width: 320px;
    padding: 10px;

    @include respond-to(md) {
      width: 255px;
    }
    @include respond-to(sm) {
      width: 255px;
    }

    @include respond-to(xs) {
      width: 230px;
    }
  }

  &.card-chef {
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    margin: 0 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    padding: 0;
    height: 70vh;
    margin-bottom: 40px !important;
    width: 300px;

    @include respond-to(sm) {
      width: 250px;
      height: 65vh;
    }

    @include respond-to(xs) {
      width: 250px;
      height: 70vh;
    }
  }

  &.card-product {
    width: 265px;
    padding: 10px !important;
    @include respond-to(xs) {
      width: 250px;
    }
  }

  &.card-product-account {
    width: 100%;

  }


  h2 {
    margin: 0px;
    font-family: $quicksand;
    color: $white;
  }
  i {
    font-size: 50px;
    color: $dark-e;
  }

}

.disabled{
  cursor: not-allowed;
  opacity: 0.4;

  .card-content {
    .card-icons {
      i {
        // color: $gray;
      }
    }
  }
}


.card-check{
  position: absolute;
  right: 0;
  top: 0;
  &:before{
    content:'';
    -webkit-appearance: none;
    background-color: $dark;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  &:after{
    border: solid $primary;
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    position: absolute;
    left: 9px;
    top: 2px;
    width: 6px;
    height: 14px;
    transform: rotate(45deg);
  }
}



/* -------------------------
   ----- Order -----
   ------------------------- */
.grid-order {
  width: 30%;
  margin-top: 125px;
  &.grid-order-account {
    margin-top: 0px;
    width: 100%;
  }

}

.order-wrapper {
  background-color: $dark-aside;
  border-radius: 5px;
  width: 100%;
  min-height: 520px;
  width: 360px;
  position: relative;

  &.order-wrapper-account {
    width: 100%;
    min-height: 580px;
  }

  @include respond-to(md) {
    width: 300px;
  }
  @include respond-to(sm) {
    width: 300px;
    min-height: 410px;
    z-index: 99;
  }
  @include respond-to(xs) {
    width: 270px;
    min-height: 410px;
    z-index: 99;
  }
}

.order-header {
  align-items: center;
  background: $gradient;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  padding: 10px;
  h4 {
    color: $white;
    font-family: $quicksand;
    text-transform: capitalize;
  }
  i {
    cursor: pointer;
  }
}

.order-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: $quicksand;

  &.order-footer-product{
    color: $white;
    @include font(16px, $semibold);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 7%;

    span {
      margin: 0 5px;
    }
  }
  &.order-footer-account {
    flex-direction: column;
    height: 20%;
    background-color: $dark-aside;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.order-content{
  padding: 20px;

  &.order-content--fixed {
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all .6s ease-in-out;

    &:hover {
      overflow-y: auto;
      transition: .6s ease-in-out;
    }
  }
  &.order-content-chef {
    padding: 0;
  }
}



.order-card-counts {
  width: 100%;
  h4, p {
    margin: 0px;
    color: $white;
    font-family: $quicksand;
    @include font(18px, $normal);

    @include respond-to(sm) {
      @include font(15px, $normal);
    }
  }

  p{
    @include font(14px, $normal);
  }

  span {
    color: $dark-e;
    @include font(12px, $normal);
  }
}


.content-info-account {
  margin-top: 3px;;
}
.content-info  {
  p {
    @include font(15px, $normal);
    color: $white;
    font-family: $quicksand;
    margin: 3px 0;
  }
  span {
    @include font(15px, $bold);
    color: $white;
    font-family: $quicksand;
  }
}

/* -------------------------
   ----- List card -----
   ------------------------- */
.list-content{
  background-color: $dark-cards;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;
  // max-height: 470px;
  position: relative;
  white-space: normal;
}
.list-header {
  flex: 0 0 auto;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
}
.list-cards {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}
.list-card {
  background-color: $dark;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding: 10px;
}

.name-dishes {
  h4 {
    @include font(16px, $bold);
  }
  p {
    @include font(14px, $light);
  }
}


.tags {
  margin-left: 2px;

  .tag {
    background-color: $primary;
    border-radius: 5px;
    padding: 2px 10px;
    color: #fff;

    &.listo {
      background-color: green;
    }
  }
}

.list-bottom {
  padding: 6px;
}
/* -------------------------
   ----- Categories -----
   ------------------------- */
.card-category {
  float: left;
  margin: 10px 18px 10px 0px;
  cursor: pointer;
  width: 31%;
  position: relative;
  height: 220px;

  @include respond-to(md) {
    width: 45%;
  }

  @include respond-to(sm) {
    width: 47%;
    z-index: 0;
  }
  @include respond-to(xs) {
    width: 95%;
    z-index: 0;
  }

  img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .category-title {
    color: $white;
    bottom: 5%;
    position: absolute;
    left: 5%;
    
    h4 {
      font-family: $gobold;
      @include font(20px, $bold);
    }
  }

  .card-quantity {
    align-items: center;
    background-color: $primary;
    border-radius: 5px;
    color: $white;
    font-family: $quicksand;
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    position: absolute;
    right: -5%;
    top: 45%;

    span {
      @include respond-to(xs) {
        @include font(18px, $normal);
      }
    }
  }
}

.mask {
  background: -webkit-linear-gradient(0deg, $dark -10%, transparent 100%);
  background: linear-gradient(0deg, $dark -10%, transparent 100%);
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


/* -------------------------
   ----- Products -----
   ------------------------- */


.card-product-image {
  width: 30%;
  .product-image {
    width: 100%;
    height: 100px;

    &.product-image-order {
      height: 60px !important;
    }
    img {
      border-radius: 5px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &.account-product-image{
    width: 10%;
  }
}

.card-product-description{
  width: 70%;

  .card-product-title {
    h4 {
      color: $white;
      font-family: $quicksand;

    }
  }
  &.account-product-description {
    width: 90%;
  }
}


.card-product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.card-detail-order {
    align-items: baseline;

    .card-price {
      font-family: $quicksand;
      margin-top: 10px;

      span {
        color:$gray;
      }
      .box-quantity {
        background-color: $primary;
        border-radius: 2px;
        color: $white;
        padding: 2px 4px;
      }
    }
  }

  &.modal-body-details {
    width: 100px;
  }

  .card-price {
    font-family: $quicksand;
    color: $white;
  }
}

.card-product-delete {
  i {
    color: $white;
    font-size: 14px;
  }
}

.card-product-btn {
  position: absolute;
  padding: 5px 10px;
  background: $gradient!important;
  bottom: -10%;
  left: 40%;
  border-radius: 5px;

  a {
    color: $white !important;
    @include font(14px, $semibold);
    font-family: $quicksand;

    &:hover, &:active, &:link {
      color: $white;
    }
  }
}

/* -------------------------
   ----- Products Quantity -----
   ------------------------- */

.card-product-quantity {
  display: flex;
  flex-direction: column;


  .qty-button {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    border-bottom: none;
    color: #ffffff !important;
    margin-right: 3px;

    &:hover, &:active, &:focus {
      color: $white !important;
      cursor: pointer;
    }


  }

  .input_quantity {
    width: 30px !important;
    height: 30px !important;
    text-align: center;
    background-color: $gray !important;
    border: none;
    border-radius: 5px;
    font-family: $quicksand;
    @include font(15px, $light)
  }

  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    display: none;
  }
}
/* -------------------------
   ----- Products Detail Modal -----
   ------------------------- */

.modal-product-title {
  color: $white;
  bottom: 5%;
  position: absolute;
  left: 3%;
  font-family: $quicksand;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.product-detail {
  color: $white;
  @include font(14px, $light);
  font-family: $quicksand;
}


/** My Orden **/
.notification {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.details-table {
  display: flex;
  justify-content: space-between;
}

.list-product {
  width: 100%;
}



.btn-float {
  position: absolute;
  bottom: 3%;
  right: 4%;
  z-index: 99;
}

.active-sidebar {
  right: 14% !important;

  @include respond-to(sm) {
    top: 14%;
  }
  
  @media (min-width: 0px) and (max-width: 340px){
    right: 58% !important;
  }

  @media (min-width: 341px) and (max-width: 350px){
    right: 53% !important;
  }

  @media (min-width: 351px) and (max-width: 375px){
    right: 46% !important;
  }

  @media (min-width: 376px) and (max-width: 450px){
    right: 34% !important;
  }
  @media (min-width: 451px) and (max-width: 550px){
    right: 23% !important;
  }

  @media (min-width: 551px) and (max-width: 650px){
    right: 16% !important;
  }

  @media (min-width: 651px) and (max-width: 767px){
    right: 9% !important;
  }
}
.active-menu {
  left: 0 !important;
}




//*** chef **/

.details-table-chef {
  i {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }
}

/** runner*/
.status-runner {
  color: $white;
  @include font(20px, $light);
  margin-top: 30px;

  &.listo {
    color: green;
  }
  &.pending {
    color: $primary;
  }
}
.content-progress {
  padding: 0 10px;
}

/** account*/
.data-account {
  width: 40%;
  background-color: $dark-cards;
  padding: 25px;
  border-radius: 5px;
  margin-right: 20px;
}
.name-client {
  display: flex;
  justify-content: center;
  h2 {
    color: $white;
    @include font(20px, $light);
    font-family: $quicksand;
  }
}
.description-client {
  h2 {
    color: $white;
    @include font(20px, $light);
    font-family: $quicksand;
  }
}

.data-client {
  color: $white;
  font-family: $quicksand;
  margin: 20px 0;
  p {
    margin: 5px 0;
    @include font(16px, $bold);
  }
}

.listing {
  width: 60%;
  // background-color: red;
}