.container-custom{
  display: flex;
}

.workspace {
  width: 94%;
  background-color: $dark;
  height: 800px;
  margin-left: 6%;
}

.workspace_top-container {
  align-items: center;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: flex-end;
  background-color: #16161d;
  border-radius: 5px;
  padding: 20px;
}


.workspace_top {
  padding: 20px 20px 0 20px;
  position: fixed;
  width: 94%;
}

.workspace_title {
  width: 30%;
  h1 {
    margin: 0px !important;
    color: $white;
    @include font(36px, $bold);
    font-family: $quicksand;
  }
}
.workspace_search {
  width: 40%;
}

.workspace_avatar {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.avatar-content {
  width: 150px;
  background-color: rgba(221, 221, 221, 0.66) !important;
  border-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  
  a {
    color: $dark;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus, &:link {
      color: $dark-e;
      text-decoration: none;
    }
  }
  
}

.avatar {
  width: 40px;
  padding: 5px;
  img {
    border-radius: 50%;
  }
}

.workspace_button {
  margin-right: 15px;
}

.workspace_center {
  margin-top: 100px;
  padding: 20px;
}


/*** Card Mesas ***/

.grid-wrapper{
  margin: 0 auto;
  width:100%;
}

.card-wrapper{
  width:235px;
  float:left;
  margin: 10px;
}

.card-content{
  padding: 25px 25px 10px 25px;
  background-color: #16161d;
  border-radius: 5px;
  border: 1px solid;
}

