.container-custom{
  display: flex;
}

.workspace {
  width: 94%;
  background-color: $dark;
  height: 800px;
  margin-left: 6%;
}

.workspace_top {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  position: fixed;
  width: 94%;
  height: 50px;
}

.workspace_search {
  width: 40%;
}

.workspace_avatar {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}


.avatar-content {
  width: 150px;
  background-color: rgba(221, 221, 221, 0.66) !important;
  border-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  
  a {
    color: $dark;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus, &:link {
      color: $dark-e;
      text-decoration: none;
    }
  }
  
}

.avatar {
  width: 40px;
  padding: 5px;
  img {
    border-radius: 50%;
  }
}

.workspace_button {
  margin-right: 15px;
}


.workspace_center {
  margin-top: 70px;
}

/* background: linear-gradient(-40deg, hsla(14, 84%, 32%, 1) 0%,#fec163 100%); */

// background: linear-gradient(-40deg, hsla(21, 69%, 50%, 1) 0%,#fec163 100%);

// background: linear-gradient(-40deg, #d76528 0%,#fec163 100%);

// background: linear-gradient(-40deg, #eb4614 0%,#fec163 100%);

