.list {
  width: 70%;
  margin-top: 3px;
}

dl {
  margin-bottom: 0px !important;
  font-family: $quicksand;
}
dt {
  float: left;
  margin-right: 0% !important;
  font-size: 16px;
  font-weight: 200 !important;
  color: $white;
}

dd {
  color: $white;
  margin-left: 100% !important;
  margin-bottom: 0px;
  @include font(14px, $bold);
}

dd::after {
  content: " ";
  display: block;
  clear: left;
}  


