aside{
  align-items: center;
  background:$dark-aside;
  display: flex !important;
  flex-direction: column !important;
  position: fixed;
  height: 100vh;
  width: 6%;

  @include respond-to(md) {
    width: 7%;
  }
  @include respond-to(sm) {
    width: 9%;
  }

  @include respond-to(xs) {
    width: 20%;
    z-index: 99;
    position: absolute;
    left: -26%;
    transition: 0.3s ease-in-out;
  }
  @media (min-width: 651px) and (max-width: 767px){
    width: 10%;
  }

}

ul{
  padding:0px;
  margin:0px;
  flex: 1 0 auto !important;
  li {
    color:#434343;
    padding:10px;
    list-style: none;
    cursor:pointer;
  }
}

.isologo_white {
  width: 70%;
  margin-top: 20px;
  padding: 5px;

  @include respond-to(xs) {
    margin-top: 35px;
  }
}



ul.tabs li{
  background: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  &.current{
    background: transparent;
    .icons {
      background: $gradient !important;
      i {
        color: $white;
      }
    }
  }
}

.icons {
  background: $colorlight !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 15px;
  transition: .3s ease-in-out;

  @include respond-to(sm){
    padding: 10px;
  }

  @include respond-to(xs){
    padding: 10px;
  }

  &:hover {
    background: $gradient !important;
    transition: .3s ease-in-out;
    i {
      color: $white;
    }
  }

  i {
    font-size: 30px;
    color: $white;
  }
}

.sub-tabs {
  li {
    margin-right: 10px;
  }
}


.menu-movil {
  position: absolute;
  top: 4%;
  left: 5%;
  z-index: 999;
  font-size: 25px;
  i {
    color: #fff;
  }
  @media (min-width: 651px) and (max-width: 767px){
   left: 3%;
  }
}