// Menu Stylesheets
= stylesheet_link_tag 'keppler_menu/application', media: 'all', 'data-turbolinks-track': true
// Menu Javascripts
= javascript_include_tag 'keppler_menu/application', 'data-turbolinks-track': true